/* body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    margin: auto;
}

.goat-mode{
    font-family: cursive;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hausziege_04.jpg/1200px-Hausziege_04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 2em;
}

.orange-background{
    background-color: tomato;
    margin: 1em;
} */

/* Practice 1: blog.css */

.article {
    padding: 10px;
    border: 1px solid blue;
}

.article__header {
    font-size: 1.5em;
}

.article__footer {
    padding: 0 30px;
}

.goldenrod {
    background-color: goldenrod;
}

.dashed {
    border: 1px dashed black;
}
